.blue{
    background: lightblue;
  }
  .yellow{
    background:yellow;  
  }
  .purple{
    background:purple; 
  }

  .white{
    background:white;  
  }
  .green{
    background:lightgreen;
  }
  .coral{
    background:coral;  
  }
  .pink{
    background:pink;  
  }

  body {
    font-family: system-ui, serif;
  }