.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.box {
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
    border: 1px solid red;
    font-size: 2rem;
    text-align: center;
  }